default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch('POSTGRES_HOST', '127.0.0.1') %>
  username: <%= ENV.fetch('POSTGRES_USER', 'postgres') %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD', 'postgres') %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: <%= "#{ENV.fetch('POSTGRES_DB', 'health_care')}_dev" %>

test:
  <<: *default
  database: <%= "#{ENV.fetch('POSTGRES_DB', 'health_care')}_test" %>

production:
  <<: *default
  database: <%= "#{ENV.fetch('POSTGRES_DB', 'health_care')}_prod" %>
